<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.updown.mapper.StudentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.updown.entity.Student">
        <result column="SID" property="sid" />
        <result column="Sname" property="Sname" />
        <result column="Ssex" property="Ssex" />
    </resultMap>

</mapper>
